.quantity {
  position: absolute;
  width: 75px;
  height: 25px;
  left: 220px;
  top: 46px;
  display: inline;
}

.sub {
  height: 25px;
  left: 225px;
  top: 46px;
  border: none;
  box-sizing: border-box;
  border-radius: 5px 0px 0px 5px;
  float: left;
  width: 25px;
  overflow: hidden;
  background-color: #E00000;
  color: #ffffff;
  font-weight: 700;
}

.counter {
  width: 25px;
  height: 25px;
  left: 250px;
  top: 46px;
  border: 1px solid #E00000;
  box-sizing: border-box;
  float: left;
  width: 25px;
  overflow: hidden;
  font-size: 18px;
  background-color: #ffffff;
}

.add {
  width: 25px;
  height: 25px;
  left: 275px;
  top: 46px;
  border: none;
  box-sizing: border-box;
  border-radius: 0px 5px 5px 0px;
  float: left;
  overflow: hidden;
  background-color: #E00000;
  color: #ffffff;
}

.sub:hover, .add:hover {
  cursor: pointer;
  background-color: #EC0000;
}