<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CRUD in NodeJS</title>
</head>
<body>

    <h2>Register<h2>
    <form action="/show" method="POST">
        <input type="text" placeholder="Name" name="name">
        <input type="text" placeholder="Surname" name="surname">
        <button type="submit">Submit</button>
    </form> 

</body>
</html>